<?xml version="1.0" ?>
<web-app>
	<display-name>Youbus Servlet</display-name>
	<description>Youbus</description>
	<servlet>
		<servlet-name>AllBuses</servlet-name>
		<servlet-class>AllBusesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllBuses</servlet-name>
		<url-pattern>/buses</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllTrips</servlet-name>
		<servlet-class>AllTripsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllTrips</servlet-name>
		<url-pattern>/trips</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllRoutes</servlet-name>
		<servlet-class>AllRoutesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllRoutes</servlet-name>
		<url-pattern>/routes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllLocations</servlet-name>
		<servlet-class>AllLocationsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllLocations</servlet-name>
		<url-pattern>/locations</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllDrivers</servlet-name>
		<servlet-class>AllDriversServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllDrivers</servlet-name>
		<url-pattern>/drivers</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllConductors</servlet-name>
		<servlet-class>AllConductorsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllConductors</servlet-name>
		<url-pattern>/conductors</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllCrews</servlet-name>
		<servlet-class>AllCrewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllCrews</servlet-name>
		<url-pattern>/crews</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllBusTypes</servlet-name>
		<servlet-class>AllBusTypesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllBusTypes</servlet-name>
		<url-pattern>/bustypes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Seats</servlet-name>
		<servlet-class>SeatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Seats</servlet-name>
		<url-pattern>/seats/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookTrip</servlet-name>
		<servlet-class>BookTripServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookTrip</servlet-name>
		<url-pattern>/booktrip/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Session</servlet-name>
		<servlet-class>SessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Session</servlet-name>
		<url-pattern>/session/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/users/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login/*</url-pattern>
	</servlet-mapping>
</web-app>
